@import './01-reset.css';
@import './02-vars.css';
@import './03-base.css';
@import './04-layout.css';
@import './05-components.css';

.skip-link {
  position: absolute;
  top: -40px; left: 0;
  background: var(--clr-accent); color: var(--clr-bg);
  padding: 8px 12px;
  z-index: 100;
  transition: top 0.3s;
}
.skip-link:focus {
  top: 0;
}